/* here is universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* here is css variable */

:root {
  --primary-button-color: #fd6e0a;
  --primary-text-color: #181818;
  --secondary-text-color: #474747;
  --description-text-color: #757575;
  --background-color: #fff;
  --header-background: #fff8f3;
}

/* here is common shared styles */
.primary-button {
  border-radius: 5px;
  background-color: var(--primary-button-color);
  border: none;
  padding: 20px 35px;
  color: var(--background-color);
}
.common-section-title {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding: 130px 450px 30px;
}
.common-about-work-section-description {
  color: var(--description-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 0px 130px;
}
/* here is header styles */
header {
  background-color: var(--header-background);
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left center;
}

/* here is navigation styles*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 200px;
}

.right ul {
  display: flex;
  align-items: center;
}

.right ul li {
  list-style: none;
  margin-left: 50px;
}

.intro {
  color: var(--primary-text-color);
  font-size: 45px;
  font-weight: 800;
}
.uncommon-letter {
  color: var(--primary-button-color);
  font-size: 45px;
  font-weight: 800;
}

/* here is header description style */

.greeting {
  color: var(--secondary-text-color);
  font-size: 45px;
  font-weight: 600;
  margin-top: 125px;
  margin-bottom: 5px;
}
.head-section-intro {
  color: var(--primary-text-color);
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.head-section-description {
  color: var(--description-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}

.contact-button {
  color: var(--primary-button-color);
  text-align: center;
  font-weight: 700;
  border: 1px solid var(--primary-button-color);
  border-radius: 5px;
  padding: 20px 35px;
  background-color: var(--background-color);
}
.icon-image {
  margin-right: 5px;
}
.img-description {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.head-description {
  margin: 55px 200px;
}

.head-section-img {
  position: relative;
  top: 5px;
  right: 20px;
}

/* here is finished header section styles and start another */

/* here is main section styles */

main {
  max-width: 1100px;
  margin: auto;
  color: var(--background-color);
}
/* here is about section styles */

.about-section {
  border-radius: 10px;
  background-color: var(--header-background);
  margin-top: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 125px 110px;
}

.about-info-title {
  color: var(--description-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.about-info-description {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* complete about section style here and start another */

/* all thing of work section goes to common styles */

/* here is skill section styles */

.skill-section-container{
    display: flex;
    gap: 25px;
    margin-top: 70px;
    margin: 70px 0px 130px;
}

.skill-layout{
    background-color: var(--background-color);
    border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-icon{
    padding: 30px 0px 0px 30px;
}
.skill-intro{
    color: var(--primary-text-color);
text-align: center;
font-size: 20px;
font-weight: 700;
padding: 20px 0px 0px 30px;
text-align: left;
}

.skill-description{
    color: var(--description-text-color);
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
padding: 20px 33px 30px;
}

/* finished skill section and start another */
